# editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# dependencies
node_modules

# build
.next
next-env.d.ts
tsconfig.tsbuildinfo

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*storybook.log

# local
*.local

# misc
.DS_Store
.vercel
